doctype html
html(lang='en') 
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="icon", href="https://img.icons8.com/?size=80&id=114904&format=png" type="image/x-icon")
        script(src="./js/logic.js") 
        title Spot the pair
        script(src="./js/graphics.js" defer) 
        script(src="./js/script.js" defer) 
    body 
        .wrapper 
            section(id="hero")
                .title 
            section(id="about")
            section(id="game")
                .playground
                    #controls
                    #game_board
            section(id="footer")
